PORT=3003
WEB_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/weth
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your-api-key
REDIS_URL=redis://localhost:6379
